In [117]:
#nos imports
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit
import seaborn as sns

In [113]:
#lecture de la nouvelle data
input_filename = 'new_arbres.csv'
df = pd.read_csv(input_filename, encoding='utf-8',sep = ',') 
df.head(150)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning:

Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

,LIEU / ADRESSE,CIRCONFERENCEENCM,ARRONDISSEMENT,HAUTEUR (m),LIBELLEFRANCAIS,date_plantation,latitude,longitude,day_raw,value
0,CIMETIERE DES BATIGNOLLES / AVENUE CIRCULAIRE ...,217.0,PARIS 17E ARRDT,13.0,Marronnier,1700-01-01,48.897766,2.313862,IDBASE,148212
1,CIMETIERE DE MONTPARNASSE PETIT / DIV 26,195.0,PARIS 14E ARRDT,13.0,Ailante,1700-01-01,48.837067,2.329014,IDBASE,151159
2,CIMETIERE DE PANTIN / AVENUE DES NOISETIERS DE...,0.0,SEINE-SAINT-DENIS,0.0,Noisetier de Byzance,1700-01-01,48.906130,2.402550,IDBASE,154990
3,CIMETIERE D'IVRY / AVENUE DU SUD / DIV 29,157.0,VAL-DE-MARNE,18.0,Erable,1700-01-01,48.808700,2.372049,IDBASE,161979
4,EVP N°16-65 / 38-44 AVENUE BUGEAUD,0.0,PARIS 16E ARRDT,0.0,Marronnier,1700-01-01,48.871276,2.280476,IDBASE,175498
5,EVP N°12-31 / HOPITAL ROTHSCHILD / 33 BOULEVAR...,100.0,PARIS 12E ARRDT,10.0,Tilleul,1700-01-01,48.843861,2.399156,IDBASE,183114
6,BLOMET (19) MAT,55.0,PARIS 15E ARRDT,5.0,Marronnier,1700-01-01,48.842982,2.307499,IDBASE,189174
7,TALUS N°17-01,90.0,PARIS 17E ARRDT,10.0,Peuplier,1700-01-01,48.882643,2.283727,IDBASE,194891
8,CENTRE SPORTIF GEORGES CARPENTIER / 81 BOULEVA...,120.0,PARIS 13E ARRDT,8.0,Tilleul,1700-01-01,48.819462,2.367225,IDBASE,197974
9,AVENUE DU GENERAL LECLERC,155.0,PARIS 14E ARRDT,15.0,Platane,1700-01-01,48.827235,2.326767,IDBASE,256345
10,AVENUE BUGEAUD,80.0,PARIS 16E ARRDT,12.0,Tilleul,1700-01-01,48.870443,2.282044,IDBASE,264355
11,AVENUE PARMENTIER,55.0,PARIS 11E ARRDT,10.0,Frêne,1700-01-01,48.867572,2.372958,IDBASE,274151
12,AVENUE DU DOCTEUR BROUARDEL,82.0,PARIS 7E ARRDT,12.0,Platane,1700-01-01,48.855037,2.295623,IDBASE,277271
13,AVENUE DE SAINT OUEN,140.0,PARIS 17E ARRDT,15.0,Platane,1700-01-01,48.896652,2.328564,IDBASE,284298
14,PLACE DU CARDINAL LAVIGERIE,85.0,PARIS 12E ARRDT,10.0,Tilleul,1974-12-15,48.833084,2.402888,IDBASE,291057
15,AVENUE DE NOGENT,20.0,BOIS DE VINCENNES,4.0,Châtaignier,1700-01-01,48.843040,2.447949,IDBASE,2.00416e+06
16,AVENUE DE FONTENAY,0.0,BOIS DE VINCENNES,0.0,NaN,NaN,48.841972,2.462888,IDBASE,2.00551e+06
17,BOULEVARD MASSENA,25.0,PARIS 13E ARRDT,5.0,Platane,2016-02-12,48.823455,2.374540,IDBASE,2.01435e+06
18,CENTRE SPORTIF DE LA PORTE D ASNIERES / 6 AVEN...,20.0,PARIS 17E ARRDT,5.0,Frêne à fleurs,2016-04-05,48.891562,2.301437,IDBASE,2.01694e+06
19,AVENUE DE SAINT CLOUD,25.0,BOIS DE BOULOGNE,5.0,Erable,2016-01-15,48.862570,2.263971,IDBASE,204932
20,PARC MONTSOURIS,104.0,PARIS 14E ARRDT,15.0,Arbre à soie,1986-01-01,48.823029,2.338141,IDBASE,113437
21,BOULEVARD DE VAUGIRARD,70.0,PARIS 15E ARRDT,10.0,Marronnier,1700-01-01,48.840548,2.315612,IDBASE,209606
22,BOULEVARD DE L HOPITAL,65.0,PARIS 13E ARRDT,10.0,Micocoulier,1996-02-15,48.836986,2.359854,IDBASE,211626
23,QUAI BRANLY,70.0,PARIS 7E ARRDT,12.0,Paulownia,1989-10-30,48.858066,2.291937,IDBASE,215676
24,AVENUE DE LA MOTTE PICQUET,65.0,PARIS 15E ARRDT,10.0,Platane,1996-03-25,48.850628,2.300304,IDBASE,219198
25,RUE JOSEPH KESSEL,225.0,PARIS 12E ARRDT,25.0,Platane,1700-01-01,48.835085,2.385134,IDBASE,225220
26,ALLEE DU BORD DE L EAU,0.0,BOIS DE BOULOGNE,0.0,Platane,2005-01-01,48.857630,2.226794,IDBASE,226155
27,QUAI D AUSTERLITZ,220.0,PARIS 13E ARRDT,0.0,Platane,2007-01-01,48.841095,2.369183,IDBASE,226639
28,RUE MONTGALLET,45.0,PARIS 12E ARRDT,5.0,Laurier du Portugal,2005-01-01,48.843780,2.388430,IDBASE,227722
29,BOULEVARD PEREIRE,55.0,PARIS 17E ARRDT,5.0,Sophora,1700-01-01,48.881747,2.291538,IDBASE,232177
...,...,...,...,...,...,...,...,...,...,...
120,AVENUE DE VERSAILLES,45.0,PARIS 16E ARRDT,8.0,Sophora,1700-01-01,48.849879,2.276082,IDBASE,233361
121,RUE DU COMMANDANT RENE MOUCHOTTE,105.0,PARIS 14E ARRDT,8.0,Chêne,1995-01-27,48.837856,2.319237,IDBASE,241239
122,AVENUE RAYMOND POINCARE,50.0,PARIS 16E ARRDT,5.0,Sophora,1700-01-01,48.863835,2.286923,IDBASE,248498
123,PARC DE BERCY,105.0,PARIS 12E ARRDT,10.0,Chêne,1700-01-01,48.834098,2.385282,IDBASE,101589
124,JARDIN DU TROCADERO,100.0,PARIS 16E ARRDT,10.0,Pin,1700-01-01,48.863037,2.290378,IDBASE,108317
125,JARDINS DES HALLES,95.0,PARIS 1ER ARRDT,5.0,Arbre de Judée,1700-01-01,48.863120,2.344586,IDBASE,109907
126,SQUARE FLORENCE BLUMENTHAL,47.0,PARIS 13E ARRDT,3.0,Fevier,1700-01-01,48.827637,2.367156,IDBASE,121304
127,TALUS N°24-01,0.0,PARIS 19E ARRDT,0.0,NaN,NaN,48.900469,2.371952,IDBASE,197070
128,PARC ANDRE CITROEN,0.0,PARIS 15E ARRDT,0.0,Magnolia,1991-01-01,48.840555,2.277342,IDBASE,126965
129,SQUARE ALBERT BESNARD,80.0,PARIS 17E ARRDT,8.0,Noisetier de Byzance,1988-12-15,48.884903,2.296809,IDBASE,128058
130,CIMETIERE DE MONTMARTRE / AVENUE CORDIER / DIV 3,71.0,PARIS 18E ARRDT,8.0,Erable,1700-01-01,48.887525,2.331460,IDBASE,141876
131,CIMETIERE DE PANTIN / AVENUE PRINCIPALE / DIV 84,160.0,SEINE-SAINT-DENIS,18.0,Marronnier,1700-01-01,48.903918,2.409248,IDBASE,149378
132,CIMETIERE DE PANTIN / AVENUE DES PEUPLIERS / D...,0.0,SEINE-SAINT-DENIS,0.0,Peuplier,1700-01-01,48.908707,2.404252,IDBASE,164154
133,CIMETIERE DE BAGNEUX / AVENUE DES TILLEULS DE ...,0.0,HAUTS-DE-SEINE,0.0,Tilleul,1700-01-01,48.808314,2.313247,IDBASE,169898
134,CIMETIERE DE MONTMARTRE / AVENUE HALEVY / DIV 3,40.0,PARIS 18E ARRDT,7.0,Orme,1700-01-01,48.888021,2.331668,IDBASE,171379
135,EVP N°6-14 / UNIVERSITE FRANCO-AMERICAINE RED ...,30.0,PARIS 6E ARRDT,5.0,Cerisier à fleurs,1700-01-01,48.842098,2.331527,IDBASE,181057
136,EVP N°16-60 / LYCEE MOLIERE / 71 RUE DU RANELAGH,60.0,PARIS 16E ARRDT,10.0,Sorbier,1700-01-01,48.854371,2.272921,IDBASE,182241
137,CURNONSKY (25),35.0,PARIS 17E ARRDT,8.0,Bouleau,1700-01-01,48.889163,2.294308,IDBASE,189564
138,AVENUE GAMBETTA,110.0,PARIS 20E ARRDT,12.0,Tilleul,1971-02-27,48.869194,2.402103,IDBASE,249183
139,BOULEVARD DU FORT DE VAUX,0.0,PARIS 17E ARRDT,0.0,NaN,NaN,48.892598,2.301320,IDBASE,267321
140,BOULEVARD DE SEBASTOPOL,184.0,PARIS 3E ARRDT,20.0,Platane,1700-01-01,48.865545,2.352268,IDBASE,274461
141,AVENUE DES CHAMPS ELYSEES,71.0,PARIS 8E ARRDT,10.0,Platane,1992-11-15,48.872367,2.300274,IDBASE,282146
142,AVENUE DES CHAMPS ELYSEES,62.0,PARIS 8E ARRDT,7.0,Platane,2000-01-01,48.868538,2.312003,IDBASE,282328
143,AVENUE DE LA GRANDE ARMEE,65.0,PARIS 17E ARRDT,8.0,Platane,1700-01-01,48.877019,2.285316,IDBASE,282558
144,RUE GINETTE NEVEU,65.0,PARIS 18E ARRDT,10.0,Tilleul,1999-02-16,48.900479,2.345258,IDBASE,284037
145,RUE VITRUVE,85.0,PARIS 20E ARRDT,10.0,Noisetier de Byzance,1991-10-30,48.860338,2.408885,IDBASE,287746
146,RUE MARCADET,90.0,PARIS 18E ARRDT,14.0,Erable,1987-10-30,48.890273,2.347627,IDBASE,292873
147,NON DENOMMEE FF/20,40.0,PARIS 20E ARRDT,6.0,Orme,2011-02-01,48.875816,2.406338,IDBASE,348006
148,ALLEE DE LA REINE MARGUERITE,21.0,BOIS DE BOULOGNE,5.0,Chêne,2013-01-15,48.852986,2.241476,IDBASE,2.00055e+06
149,ALLEE DE LA REINE MARGUERITE,150.0,BOIS DE BOULOGNE,18.0,Platane,1700-01-01,48.849268,2.242139,IDBASE,2.00104e+06

In [172]:
df.LIBELLEFRANCAIS.value_counts().index.tolist()

['Platane',
 'Marronnier',
 'Tilleul',
 'Erable',
 'Sophora',
 'Frêne',
 'Pin',
 'Micocoulier',
 'Cerisier à fleurs',
 'Chêne',
 'Peuplier',
 'Charme',
 'Poirier à fleurs',
 'Noisetier de Byzance',
 'Robinier',
 'Bouleau',
 'If',
 'Orme',
 'Hêtre',
 'Ailante',
 'Paulownia',
 'Fevier',
 'Cyprès',
 'Magnolia',
 'Faux-cyprès',
 'Tulipier',
 'Prunier à fleurs',
 'Noyer',
 'Non spécifié',
 'Arbre de Judée',
 'Cedrele',
 'Pterocarya',
 'Cèdre',
 'Arbre aux quarante écus',
 'Mûrier',
 'Pommier à fleurs',
 'Frêne à fleurs',
 'Copalme',
 'Prunus n. sp.',
 'Catalpa',
 'Merisier',
 'Aulne',
 'Pommier à fruits',
 'Savonnier',
 'Thuya',
 'Pommier',
 'Charme-Houblon',
 'Lilas des indes',
 'Saule',
 'Troene',
 'Houx',
 'Amélanchier',
 'Poirier à fruits',
 'Cerisier à grappes',
 'Orme de Sibérie',
 'Cornouiller',
 'Aubépine',
 'Parrotie de Perse - Arbre de fer',
 'Arbre à soie',
 'Alisier',
 'Aubepine',
 'Palmier',
 'Epicéa',
 'Sorbier',
 'Châtaignier',
 'Chicot du Canada',
 'Arbre à caramel',
 'Plaqueminier',
 'Eleagnus - Chalef',
 'Laurier du Portugal',
 'Troëne',
 'Sureau',
 'Lilas de Perse',
 'Poirier',
 'Sequoia',
 'Figuier',
 'Prunier à fruits',
 'Sapin',
 'Metaséquoia',
 'Photinia',
 'Pêcher',
 'Eucalyptus',
 'Buis',
 'Cytise',
 'Olivier',
 'Noisetier',
 'Laurier du caucase',
 'Laurier-Cerise',
 'Libocèdre',
 'Oranger des Osages',
 'Filaire',
 'Arbre à miel',
 'Amandier',
 'Néflier',
 'Sumac',
 'Viorne',
 'Cognassier',
 'Cerisier à fruits',
 'Clerodendron',
 'Cerisier à fleurs, cerisier griotte',
 'Fontanesia',
 'Laurier sauce',
 'Virgilier',
 'Abricotier',
 'Cabrillet',
 'Nothofagus',
 'Arbre aux mouchoirs',
 'Cyprès Chauve',
 'Céphalotaxe',
 'Phellodendron',
 'Genévrier',
 'Althéa',
 'Fusain',
 'Araucaria',
 'Cryptomeria',
 'Arbousier',
 'Mélèze',
 'Tamaris',
 'Chitalpa',
 'Cormier',
 'Néflier commun',
 'Poivrier',
 'Sterculier',
 'Cotoneaster',
 'Prunus Fleur n. sp.',
 'Nyssa',
 'Olivier odorant',
 'Prunellier',
 'Angélique',
 'Sapin Douglas',
 'Mimosa',
 'Lilas',
 'Arbre à perruque',
 'Parrotie de Perse',
 'Rhododendron',
 'Caryer',
 'Orme de Samarie',
 'Pterostyrax',
 'Tsuga',
 'Grenadier',
 'Chèvrefeuille',
 'Citronnier',
 'Laurier',
 'Laurier des Iroquois',
 'Arbre à Gutta-Percha',
 'Styrax',
 'Platycarya',
 'Muscadier',
 'Laburnum de Adam',
 'Chimonanthe',
 'Aronie',
 'Prunus Fruit n. sp.',
 'Alangium',
 'Poliothyrsis',
 'Nerprun',
 "Fustet d' Amérique",
 'Staphylier',
 'Cunninghamia',
 'Raisinier',
 'Argousier',
 'Tapiscia',
 'Myrte du Chili',
 'Andromède',
 'Callistemon',
 'Idesia',
 'Pistachier',
 'Fremontia',
 'Asiminier',
 'Stewartia',
 'Heptacodion de Chine',
 'Hiba',
 'Caragana',
 'Papayer',
 'Faux dattier',
 'Jujubier',
 'Cordyline',
 'Amla',
 'Camphrier',
 'Maackie',
 'Distylium',
 'Sycopsis',
 'Laurier des Açores',
 'Seringas',
 'Goyavier',
 'Kalopanax',
 'Euscaphis',
 'Abelia',
 'Genêt']

In [173]:
df.LIBELLEFRANCAIS.value_counts()

Platane                 688192
Marronnier              431936
Tilleul                 357504
Erable                  324560
Sophora                 191104
Frêne                    83792
Pin                      81104
Micocoulier              66688
Cerisier à fleurs        64704
Chêne                    62032
Peuplier                 60784
Charme                   56528
Poirier à fleurs         54672
Noisetier de Byzance     53520
Robinier                 46656
Bouleau                  42048
If                       36336
Orme                     33760
Hêtre                    31824
Ailante                  24160
Paulownia                23920
Fevier                   22160
Cyprès                   20960
Magnolia                 20176
Faux-cyprès              19728
Tulipier                 18672
Prunier à fleurs         18304
Noyer                    18064
Non spécifié             17968
Arbre de Judée           17536
                         ...
Raisinier                   32
Argousier                   32
Tapiscia                    32
Myrte du Chili              32
Andromède                   16
Callistemon                 16
Idesia                      16
Pistachier                  16
Fremontia                   16
Asiminier                   16
Stewartia                   16
Heptacodion de Chine        16
Hiba                        16
Caragana                    16
Papayer                     16
Faux dattier                16
Jujubier                    16
Cordyline                   16
Amla                        16
Camphrier                   16
Maackie                     16
Distylium                   16
Sycopsis                    16
Laurier des Açores          16
Seringas                    16
Goyavier                    16
Kalopanax                   16
Euscaphis                   16
Abelia                      16
Genêt                       16
Name: LIBELLEFRANCAIS, Length: 188, dtype: int64

In [184]:
#on cherche a définir la proportion en arbre coupés et non coupés
def is_age(x):
    return x > 0

df['age'] = df['CIRCONFERENCEENCM'].apply(is_age)

In [185]:
df['age'] = df['CIRCONFERENCEENCM'].apply(lambda x: x > 0)

In [186]:
#lecture du resultat
df['age'].value_counts()

True     2948144
False     606576
Name: age, dtype: int64

In [191]:
#notre pourcentage
cut_tree = df['age'].value_counts()[0] 
age = df['age'].value_counts()[1] 
total_tree = cut_tree + age 
float (age) / total_tree

0.82936039969392805

In [192]:
df

,LIEU / ADRESSE,CIRCONFERENCEENCM,ARRONDISSEMENT,HAUTEUR (m),LIBELLEFRANCAIS,date_plantation,latitude,longitude,day_raw,value,is_train,age
0,CIMETIERE DES BATIGNOLLES / AVENUE CIRCULAIRE ...,217.0,PARIS 17E ARRDT,13.0,Marronnier,1700-01-01,48.897766,2.313862,IDBASE,148212,True,True
1,CIMETIERE DE MONTPARNASSE PETIT / DIV 26,195.0,PARIS 14E ARRDT,13.0,Ailante,1700-01-01,48.837067,2.329014,IDBASE,151159,True,True
2,CIMETIERE DE PANTIN / AVENUE DES NOISETIERS DE...,0.0,SEINE-SAINT-DENIS,0.0,Noisetier de Byzance,1700-01-01,48.906130,2.402550,IDBASE,154990,True,False
3,CIMETIERE D'IVRY / AVENUE DU SUD / DIV 29,157.0,VAL-DE-MARNE,18.0,Erable,1700-01-01,48.808700,2.372049,IDBASE,161979,True,True
4,EVP N°16-65 / 38-44 AVENUE BUGEAUD,0.0,PARIS 16E ARRDT,0.0,Marronnier,1700-01-01,48.871276,2.280476,IDBASE,175498,True,False
5,EVP N°12-31 / HOPITAL ROTHSCHILD / 33 BOULEVAR...,100.0,PARIS 12E ARRDT,10.0,Tilleul,1700-01-01,48.843861,2.399156,IDBASE,183114,True,True
6,BLOMET (19) MAT,55.0,PARIS 15E ARRDT,5.0,Marronnier,1700-01-01,48.842982,2.307499,IDBASE,189174,True,True
7,TALUS N°17-01,90.0,PARIS 17E ARRDT,10.0,Peuplier,1700-01-01,48.882643,2.283727,IDBASE,194891,True,True
8,CENTRE SPORTIF GEORGES CARPENTIER / 81 BOULEVA...,120.0,PARIS 13E ARRDT,8.0,Tilleul,1700-01-01,48.819462,2.367225,IDBASE,197974,True,True
9,AVENUE DU GENERAL LECLERC,155.0,PARIS 14E ARRDT,15.0,Platane,1700-01-01,48.827235,2.326767,IDBASE,256345,True,True
10,AVENUE BUGEAUD,80.0,PARIS 16E ARRDT,12.0,Tilleul,1700-01-01,48.870443,2.282044,IDBASE,264355,True,True
11,AVENUE PARMENTIER,55.0,PARIS 11E ARRDT,10.0,Frêne,1700-01-01,48.867572,2.372958,IDBASE,274151,True,True
12,AVENUE DU DOCTEUR BROUARDEL,82.0,PARIS 7E ARRDT,12.0,Platane,1700-01-01,48.855037,2.295623,IDBASE,277271,True,True
13,AVENUE DE SAINT OUEN,140.0,PARIS 17E ARRDT,15.0,Platane,1700-01-01,48.896652,2.328564,IDBASE,284298,True,True
14,PLACE DU CARDINAL LAVIGERIE,85.0,PARIS 12E ARRDT,10.0,Tilleul,1974-12-15,48.833084,2.402888,IDBASE,291057,True,True
15,AVENUE DE NOGENT,20.0,BOIS DE VINCENNES,4.0,Châtaignier,1700-01-01,48.843040,2.447949,IDBASE,2.00416e+06,True,True
16,AVENUE DE FONTENAY,0.0,BOIS DE VINCENNES,0.0,NaN,NaN,48.841972,2.462888,IDBASE,2.00551e+06,True,False
17,BOULEVARD MASSENA,25.0,PARIS 13E ARRDT,5.0,Platane,2016-02-12,48.823455,2.374540,IDBASE,2.01435e+06,True,True
18,CENTRE SPORTIF DE LA PORTE D ASNIERES / 6 AVEN...,20.0,PARIS 17E ARRDT,5.0,Frêne à fleurs,2016-04-05,48.891562,2.301437,IDBASE,2.01694e+06,True,True
19,AVENUE DE SAINT CLOUD,25.0,BOIS DE BOULOGNE,5.0,Erable,2016-01-15,48.862570,2.263971,IDBASE,204932,True,True
20,PARC MONTSOURIS,104.0,PARIS 14E ARRDT,15.0,Arbre à soie,1986-01-01,48.823029,2.338141,IDBASE,113437,True,True
21,BOULEVARD DE VAUGIRARD,70.0,PARIS 15E ARRDT,10.0,Marronnier,1700-01-01,48.840548,2.315612,IDBASE,209606,True,True
22,BOULEVARD DE L HOPITAL,65.0,PARIS 13E ARRDT,10.0,Micocoulier,1996-02-15,48.836986,2.359854,IDBASE,211626,True,True
23,QUAI BRANLY,70.0,PARIS 7E ARRDT,12.0,Paulownia,1989-10-30,48.858066,2.291937,IDBASE,215676,True,True
24,AVENUE DE LA MOTTE PICQUET,65.0,PARIS 15E ARRDT,10.0,Platane,1996-03-25,48.850628,2.300304,IDBASE,219198,True,True
25,RUE JOSEPH KESSEL,225.0,PARIS 12E ARRDT,25.0,Platane,1700-01-01,48.835085,2.385134,IDBASE,225220,False,True
26,ALLEE DU BORD DE L EAU,0.0,BOIS DE BOULOGNE,0.0,Platane,2005-01-01,48.857630,2.226794,IDBASE,226155,True,False
27,QUAI D AUSTERLITZ,220.0,PARIS 13E ARRDT,0.0,Platane,2007-01-01,48.841095,2.369183,IDBASE,226639,True,True
28,RUE MONTGALLET,45.0,PARIS 12E ARRDT,5.0,Laurier du Portugal,2005-01-01,48.843780,2.388430,IDBASE,227722,False,True
29,BOULEVARD PEREIRE,55.0,PARIS 17E ARRDT,5.0,Sophora,1700-01-01,48.881747,2.291538,IDBASE,232177,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3554690,EVP N°19-28 / HOPITAL ROTSCHILD / 54B-56-58 AV...,25.0,PARIS 19E ARRDT,5.0,Pommier à fleurs,1700-01-01,48.878142,2.377205,time,1700-01-01T01:02:49+00:53,False,True
3554691,EVP N°14-02 / COLLEGE LA BRUYERE SAINTE ISABEL...,55.0,PARIS 14E ARRDT,12.0,Platane,1700-01-01,48.827983,2.318943,time,1700-01-01T01:02:49+00:53,True,True
3554692,EVP N°14-98 / INSTITUT MUTUALISTE DE MONTSOURI...,40.0,PARIS 14E ARRDT,6.0,Cerisier à fleurs,1700-01-01,48.822777,2.332502,time,1700-01-01T01:02:49+00:53,True,True
3554693,EVP N°18-25 / LYCEE PRIVE SAINT JEAN DE MONTMA...,180.0,PARIS 18E ARRDT,18.0,Robinier,1700-01-01,48.888374,2.333500,time,1700-01-01T01:02:49+00:53,True,True
3554694,EVP N°6-20 / LYCEE STANISLAS / 20-28 RUE DU MO...,110.0,PARIS 6E ARRDT,10.0,If,1700-01-01,48.844096,2.326850,time,1700-01-01T01:02:49+00:53,True,True
3554695,VILLA MONTMORENCY / 36 AVENUE DES TILLEULS,160.0,PARIS 16E ARRDT,8.0,Tilleul,1700-01-01,48.851467,2.263498,time,1700-01-01T01:02:49+00:53,False,True
3554696,ECOLE MATERNELLE / 90 BOULEVARD BESSIERES,70.0,PARIS 17E ARRDT,10.0,Erable,1700-01-01,48.897522,2.319579,time,1700-01-01T01:02:49+00:53,True,True
3554697,TALUS N°23-12,30.0,PARIS 18E ARRDT,5.0,Peuplier,1700-01-01,48.901567,2.360212,time,1700-01-01T01:02:49+00:53,False,True
3554698,CENTRE SPORTIF GEORGES CARPENTIER / 81 BOULEVA...,0.0,PARIS 13E ARRDT,8.0,Tilleul,1700-01-01,48.819648,2.370709,time,1700-01-01T01:02:49+00:53,True,False
3554699,BOULEVARD FLANDRIN,35.0,PARIS 16E ARRDT,6.0,Platane,1994-02-21,48.864576,2.272353,time,1994-02-21T02:00:00+01:00,True,True
3554700,RUE DE LA CONVENTION,70.0,PARIS 15E ARRDT,10.0,Tilleul,1700-01-01,48.837188,2.296902,time,1700-01-01T01:02:49+00:53,False,True
3554701,AVENUE DU GENERAL TRIPIER,160.0,PARIS 7E ARRDT,15.0,Platane,1700-01-01,48.854638,2.296377,time,1700-01-01T01:02:49+00:53,True,True
3554702,PLACE DE JOINVILLE,0.0,PARIS 19E ARRDT,0.0,NaN,NaN,48.889268,2.380324,time,NaN,True,False
3554703,RUE HENRI HUCHARD,120.0,PARIS 18E ARRDT,6.0,Marronnier,1700-01-01,48.899151,2.334167,time,1700-01-01T01:02:49+00:53,True,True
3554704,AVENUE GEORGE V,161.0,PARIS 8E ARRDT,10.0,Marronnier,1700-01-01,48.868245,2.301278,time,1700-01-01T01:02:49+00:53,True,True
3554705,COURS DE VINCENNES,140.0,PARIS 12E ARRDT,10.0,Marronnier,1700-01-01,48.847666,2.401143,time,1700-01-01T01:02:49+00:53,True,True
3554706,EVP N° 9-13 / 41-47 RUE DES MARTYRS,100.0,PARIS 9E ARRDT,8.0,Erable,2014-01-01,48.879853,2.339569,time,2014-01-01T02:00:00+01:00,True,True
3554707,BOULEVARD DES FILLES DU CALVAIRE,0.0,PARIS 3E ARRDT,0.0,NaN,NaN,48.862231,2.366809,time,NaN,True,False
3554708,ROUTE DE LA PYRAMIDE,105.0,BOIS DE VINCENNES,10.0,Tilleul,1700-01-01,48.826016,2.455761,time,1700-01-01T01:02:49+00:53,False,True
3554709,BOULEVARD MACDONALD,35.0,PARIS 19E ARRDT,5.0,Platane,2012-01-01,48.897344,2.391724,time,2012-01-01T02:00:00+01:00,True,True
3554710,PARC OMNISPORT SUZANNE LENGLEN / 7 BOULEVARD D...,0.0,PARIS 15E ARRDT,0.0,NaN,NaN,48.831758,2.273339,time,NaN,False,False
3554711,QUAI DE BERCY,40.0,PARIS 12E ARRDT,5.0,Platane,2016-04-08,48.834813,2.380739,time,2016-04-08T04:00:00+02:00,True,True
3554712,PLACE DU TROCADERO,85.0,PARIS 16E ARRDT,8.0,Marronnier,1700-01-01,48.863296,2.287338,time,1700-01-01T01:02:49+00:53,False,True
3554713,ALLEE DE LONGCHAMP,57.0,BOIS DE BOULOGNE,8.0,Noisetier de Byzance,1989-01-01,48.872212,2.263333,time,1989-01-01T02:00:00+01:00,True,True
3554714,ALLEE DE LONGCHAMP,55.0,BOIS DE BOULOGNE,7.0,Noisetier de Byzance,1994-01-01,48.875318,2.271948,time,1994-01-01T02:00:00+01:00,True,True
3554715,ALLEE ARTHUR HONEGGER,34.0,PARIS 19E ARRDT,0.0,Poirier à fleurs,1992-01-15,48.887185,2.393893,time,1992-01-15T02:00:00+01:00,False,True
3554716,BOULEVARD KELLERMANN,50.0,PARIS 13E ARRDT,5.0,Poirier à fleurs,2005-01-01,48.818933,2.358334,time,2005-01-01T02:00:00+01:00,True,True
3554717,ROUTE DE LA PTE DES SABLONS A LA PTE MAILLOT,170.0,BOIS DE BOULOGNE,16.0,Pterocarya,1700-01-01,48.878684,2.270530,time,1700-01-01T01:02:49+00:53,True,True
3554718,QUAI BRANLY,150.0,PARIS 7E ARRDT,18.0,Orme,1700-01-01,48.861676,2.297619,time,1700-01-01T01:02:49+00:53,True,True
3554719,PARC DES BUTTES CHAUMONT,130.0,PARIS 19E ARRDT,16.0,Marronnier,1700-01-01,48.880857,2.384928,time,1700-01-01T01:02:49+00:53,True,True

In [193]:
#on group
group_by_essence = df.groupby(['LIBELLEFRANCAIS','age'])

In [195]:
group_by_essence.size()

LIBELLEFRANCAIS          age
Abelia                   True         16
Abricotier               True        560
Ailante                  False      2640
                         True      21520
Alangium                 True         48
Alisier                  False       400
                         True       3600
Althéa                   False       176
                         True        144
Amandier                 False        16
                         True        816
Amla                     True         16
Amélanchier              False      1872
                         True       4080
Andromède                True         16
Angélique                False       144
                         True         48
Araucaria                True        288
Arbousier                True        256
Arbre aux mouchoirs      False       240
                         True        192
Arbre aux quarante écus  False       848
                         True      14576
Arbre de Judée           False      1984
                         True      15552
Arbre à Gutta-Percha     True         80
Arbre à caramel          False      1520
                         True        896
Arbre à miel             False        32
                         True        800
                                   ...
Sorbier                  False       112
                         True       3040
Staphylier               True         32
Sterculier               False        32
                         True        176
Stewartia                False        16
Styrax                   False        16
                         True         48
Sumac                    False        32
                         True        784
Sureau                   False       112
                         True       2000
Sycopsis                 True         16
Tamaris                  True        256
Tapiscia                 True         32
Thuya                    False       432
                         True       7568
Tilleul                  False     47856
                         True     309648
Troene                   False       144
                         True       6080
Troëne                   False       256
                         True       1856
Tsuga                    True         96
Tulipier                 False      6704
                         True      11968
Viorne                   False       736
                         True         64
Virgilier                False        64
                         True        560
Length: 313, dtype: int64

In [196]:
#etablir un tableau
count_tree_cut = group_by_essence.size().unstack()
count_tree_cut

age                        False     True
LIBELLEFRANCAIS
Abelia                       NaN      16.0
Abricotier                   NaN     560.0
Ailante                   2640.0   21520.0
Alangium                     NaN      48.0
Alisier                    400.0    3600.0
Althéa                     176.0     144.0
Amandier                    16.0     816.0
Amla                         NaN      16.0
Amélanchier               1872.0    4080.0
Andromède                    NaN      16.0
Angélique                  144.0      48.0
Araucaria                    NaN     288.0
Arbousier                    NaN     256.0
Arbre aux mouchoirs        240.0     192.0
Arbre aux quarante écus    848.0   14576.0
Arbre de Judée            1984.0   15552.0
Arbre à Gutta-Percha         NaN      80.0
Arbre à caramel           1520.0     896.0
Arbre à miel                32.0     800.0
Arbre à perruque             NaN     144.0
Arbre à soie               576.0    3520.0
Argousier                    NaN      32.0
Aronie                       NaN      48.0
Asiminier                    NaN      16.0
Aubepine                   224.0    3344.0
Aubépine                   464.0    4400.0
Aulne                     3968.0    6736.0
Bouleau                   8928.0   33120.0
Buis                        32.0    1232.0
Cabrillet                   48.0     480.0
...                          ...       ...
Pterostyrax                 16.0      80.0
Pêcher                       NaN    1344.0
Raisinier                    NaN      32.0
Rhododendron               128.0       NaN
Robinier                  1728.0   44928.0
Sapin                       48.0    1440.0
Sapin Douglas                NaN     192.0
Saule                      752.0    5728.0
Savonnier                  512.0    9840.0
Sequoia                    128.0    1632.0
Seringas                    16.0       NaN
Sophora                  15056.0  176048.0
Sorbier                    112.0    3040.0
Staphylier                   NaN      32.0
Sterculier                  32.0     176.0
Stewartia                   16.0       NaN
Styrax                      16.0      48.0
Sumac                       32.0     784.0
Sureau                     112.0    2000.0
Sycopsis                     NaN      16.0
Tamaris                      NaN     256.0
Tapiscia                     NaN      32.0
Thuya                      432.0    7568.0
Tilleul                  47856.0  309648.0
Troene                     144.0    6080.0
Troëne                     256.0    1856.0
Tsuga                        NaN      96.0
Tulipier                  6704.0   11968.0
Viorne                     736.0      64.0
Virgilier                   64.0     560.0

[188 rows x 2 columns]

In [216]:
count_tree_cut = df.groupby(['LIBELLEFRANCAIS','age']).size().unstack().reset_index()
count_tree_cut[:5]

age LIBELLEFRANCAIS   False     True
0            Abelia     NaN     16.0
1        Abricotier     NaN    560.0
2           Ailante  2640.0  21520.0
3          Alangium     NaN     48.0
4           Alisier   400.0   3600.0

In [221]:
count_tree_cut = count_tree_cut.fillna(0) 
count_tree_cut

age          LIBELLEFRANCAIS    False      True  Nombre total
0                     Abelia      0.0      16.0           0.0
1                 Abricotier      0.0     560.0           0.0
2                    Ailante   2640.0   21520.0       24160.0
3                   Alangium      0.0      48.0           0.0
4                    Alisier    400.0    3600.0        4000.0
5                     Althéa    176.0     144.0         320.0
6                   Amandier     16.0     816.0         832.0
7                       Amla      0.0      16.0           0.0
8                Amélanchier   1872.0    4080.0        5952.0
9                  Andromède      0.0      16.0           0.0
10                 Angélique    144.0      48.0         192.0
11                 Araucaria      0.0     288.0           0.0
12                 Arbousier      0.0     256.0           0.0
13       Arbre aux mouchoirs    240.0     192.0         432.0
14   Arbre aux quarante écus    848.0   14576.0       15424.0
15            Arbre de Judée   1984.0   15552.0       17536.0
16      Arbre à Gutta-Percha      0.0      80.0           0.0
17           Arbre à caramel   1520.0     896.0        2416.0
18              Arbre à miel     32.0     800.0         832.0
19          Arbre à perruque      0.0     144.0           0.0
20              Arbre à soie    576.0    3520.0        4096.0
21                 Argousier      0.0      32.0           0.0
22                    Aronie      0.0      48.0           0.0
23                 Asiminier      0.0      16.0           0.0
24                  Aubepine    224.0    3344.0        3568.0
25                  Aubépine    464.0    4400.0        4864.0
26                     Aulne   3968.0    6736.0       10704.0
27                   Bouleau   8928.0   33120.0       42048.0
28                      Buis     32.0    1232.0        1264.0
29                 Cabrillet     48.0     480.0         528.0
..                       ...      ...       ...           ...
158              Pterostyrax     16.0      80.0          96.0
159                   Pêcher      0.0    1344.0           0.0
160                Raisinier      0.0      32.0           0.0
161             Rhododendron    128.0       0.0           0.0
162                 Robinier   1728.0   44928.0       46656.0
163                    Sapin     48.0    1440.0        1488.0
164            Sapin Douglas      0.0     192.0           0.0
165                    Saule    752.0    5728.0        6480.0
166                Savonnier    512.0    9840.0       10352.0
167                  Sequoia    128.0    1632.0        1760.0
168                 Seringas     16.0       0.0           0.0
169                  Sophora  15056.0  176048.0      191104.0
170                  Sorbier    112.0    3040.0        3152.0
171               Staphylier      0.0      32.0           0.0
172               Sterculier     32.0     176.0         208.0
173                Stewartia     16.0       0.0           0.0
174                   Styrax     16.0      48.0          64.0
175                    Sumac     32.0     784.0         816.0
176                   Sureau    112.0    2000.0        2112.0
177                 Sycopsis      0.0      16.0           0.0
178                  Tamaris      0.0     256.0           0.0
179                 Tapiscia      0.0      32.0           0.0
180                    Thuya    432.0    7568.0        8000.0
181                  Tilleul  47856.0  309648.0      357504.0
182                   Troene    144.0    6080.0        6224.0
183                   Troëne    256.0    1856.0        2112.0
184                    Tsuga      0.0      96.0           0.0
185                 Tulipier   6704.0   11968.0       18672.0
186                   Viorne    736.0      64.0         800.0
187                Virgilier     64.0     560.0         624.0

[188 rows x 4 columns]

In [225]:
count_tree_cut['Nombre total'] = (count_tree_cut[False] + count_tree_cut[True])
count_tree_cut[:5]

age LIBELLEFRANCAIS   False     True  Nombre total  Pourcentage  Proportion
0            Abelia     0.0     16.0          16.0     1.000000    1.000000
1        Abricotier     0.0    560.0         560.0     1.000000    1.000000
2           Ailante  2640.0  21520.0       24160.0     0.890728    0.890728
3          Alangium     0.0     48.0          48.0     1.000000    1.000000
4           Alisier   400.0   3600.0        4000.0     0.900000    0.900000

In [224]:
#tableau final avec false/true/nombre total/et proportion
count_tree_cut['Proportion'] = count_tree_cut[True] / count_tree_cut['Nombre total']
count_tree_cut[:4]

age LIBELLEFRANCAIS   False     True  Nombre total  Pourcentage  Proportion
0            Abelia     0.0     16.0          16.0     1.000000    1.000000
1        Abricotier     0.0    560.0         560.0     1.000000    1.000000
2           Ailante  2640.0  21520.0       24160.0     0.890728    0.890728
3          Alangium     0.0     48.0          48.0     1.000000    1.000000

In [231]:
#different plot
count_tree_cut['Proportion'].plot(legend=True,figsize = (100,40))

In [237]:
sns.pairplot(count_tree_cut.dropna())

In [239]:
returns_fig = sns.PairGrid(count_tree_cut.dropna())

returns_fig.map_upper(plt.scatter,color = 'purple')
returns_fig.map_lower(sns.kdeplot, cmap='cool_d')

returns_fig.map_diag(plt.hist,bins=30)

In [241]:
returns_fig = sns.PairGrid(count_tree_cut)

returns_fig.map_upper(plt.scatter,color = 'purple')
returns_fig.map_lower(sns.kdeplot, cmap='cool_d')

returns_fig.map_diag(plt.hist,bins=30)

In [208]:
#tableau par rapport à la date de plantation
tree_plantation = df.pivot_table(index='date_plantation', columns='LIBELLEFRANCAIS', values='ARRONDISSEMENT', aggfunc='count')
tree_plantation.head()

LIBELLEFRANCAIS,Abelia,Abricotier,Ailante,Alangium,Alisier,Althéa,Amandier,Amla,Amélanchier,Andromède,...,Tamaris,Tapiscia,Thuya,Tilleul,Troene,Troëne,Tsuga,Tulipier,Viorne,Virgilier
date_plantation,,,,,,,,,,,,,,,,,,,,,
1602-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1699-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1700-01-01,16.0,80.0,18288.0,48.0,2128.0,NaN,240.0,16.0,2224.0,NaN,...,192.0,32.0,7568.0,277328.0,3472.0,1424.0,16.0,12544.0,48.0,288.0
1700-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1700-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
df.pivot_table(columns='date_plantation')

date_plantation,1602-01-01,1699-12-31,1700-01-01,1700-03-01,1700-03-05,1700-03-06,1700-03-07,1700-04-09,1700-04-11,1700-04-15,...,2017-05-02,2017-05-03,2017-05-09,2017-05-26,2017-06-07,2017-07-17,2017-08-01,2017-08-02,2017-08-14,2017-09-26
CIRCONFERENCEENCM,365.000000,106.775000,5852.799318,132.500000,205.000000,70.555556,67.464789,83.333333,62.727273,46.428571,...,22.333333,21.250000,30.000000,20.000000,8.000000,20.000000,200.000000,20.000000,130.000000,4.000000
HAUTEUR (m),9.000000,28.325000,15.284352,11.500000,17.000000,10.944444,9.098592,10.000000,7.772727,7.142857,...,5.000000,5.000000,5.000000,2.500000,35.000000,5.000000,5.000000,4.000000,15.000000,1.000000
age,1.000000,1.000000,0.862007,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
is_train,0.812500,0.756250,0.750013,0.781250,0.750000,0.767361,0.769366,0.755208,0.732955,0.776786,...,0.750000,0.726562,0.687500,0.718750,0.750000,0.791667,0.937500,0.937500,0.812500,0.625000
latitude,48.852190,48.856747,48.853396,48.849800,48.847527,48.886593,48.884429,48.878096,48.869987,48.862009,...,48.797163,48.801989,48.836489,48.823243,48.835959,48.859940,48.878710,48.817775,48.881585,48.888951
longitude,2.347292,2.302485,2.349306,2.323697,2.251161,2.389777,2.382137,2.399648,2.379389,2.307982,...,2.351615,2.318571,2.326838,2.364792,2.256214,2.373187,2.370372,2.347589,2.372594,2.338942

In [228]:
#on plot
tree_plantation.plot(legend=True,figsize = (100,40))